/*Quicksand*/
@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Quicksand";
  font-weight: 400;
  src: url("../assets/fonts/Quicksand-Regular.ttf");
}
